
/* ==================================================
   pop up styling
================================================== */	

@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic,900,900italic");

/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/
#greyOut {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto;
}

img#close {
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer
}

#popupContact {
    position:absolute;
    height:300px;
    max-width:500px;
    min-width:250px;
    width:100%;
    background-color: #fff;
    padding-top: 20px;
    left:50%;
    top:17%;
    margin-left:-202px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

 #pbi_form {
    max-width:500px;
    min-width:250px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family: "Roboto", sans-serif;
    background-color:#fff
}

p {
    margin-top:30px
}

h2 {
    background-color:#FEFFED;
    padding:20px 35px;
    margin:-10px -50px;
    text-align:center;
    border-radius:10px 10px 0 0
}

hr {
    margin:10px -50px;
    border:0;
    border-top:1px solid #ccc
}

input[type=text] {
    width:82%;
    padding:10px;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family: "Roboto", sans-serif;
}

#name {
    background-repeat:no-repeat;
    background-position:5px 7px
}

#email {
    background-repeat:no-repeat;
    background-position:5px 7px
}

textarea {
    background-repeat:no-repeat;
    background-position:5px 7px;
    width:82%;
    height:95px;
    padding:10px;
    margin-top:30px;
    border:1px solid #ccc;
    font-size:16px;
    font-family: "Roboto", sans-serif;
    margin-bottom:30px
}

#submit {
    text-decoration:none;
    width:100%;
    text-align:center;
    display:block;
    background-color:#FFBC00;
    color:#fff;
    border:1px solid #FFCB00;
    padding:10px 0;
    font-size:20px;
    cursor:pointer;
    border-radius:5px
}

span {
    color:red;
    font-weight:700
}

/*button {
    width:10%;
    height:45px;
    border-radius:3px;
    background-color:#cd853f;
    color:#fff;
    font-family:"Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size:18px;
    cursor:pointer
}*/

/* ==================================================
   Responsive Media Queries - Tablets
================================================== */

@media screen and (max-width: 1024px)
{
    #popupContact {
        position: relative;
        margin: 0 auto;
        left:0%;
    }
    
     #pbi_form{
        margin:0 auto;
    }
    
    /*img#close{
        right:0px;
        top:0px;
    }*/
        
}

/* ==================================================
   Responsive Media Queries - Landscape Mobiles
================================================== */

@media screen and (max-width: 670px)
{
    #popupContact {
        position: relative;
        margin: 0 auto;
        left:0%;
    }
    
     #pbi_form{
        margin:0 auto;
    }
    
    /*img#close{
        right:0px;
        top:0px;
    }*/
}


/* ==================================================
   Responsive Media Queries - Mobiles
================================================== */

@media screen and (max-width: 480px)
{
    #popupContact {
        position: relative;
        margin: 0 auto;
        left:0%;
    }
    
    #pbi_form{
        margin:0 auto;
    }
    /*img#close{
        right:0px;
        top:0px;
    }*/
}
