
/* ==================================================
  Sign up form CSS
================================================== */

 #signupform
	{
		margin: 50px auto 20px auto;
		width: 80%;
	}

		.sb-search
		{
			position: relative;
			width: 100%;
			min-width: 50px;
			height: 50px;
			overflow: hidden;
            display:inline-block
            
		}

			.sb-search .sb-search-input
			{
				position: absolute;
				top: 0;
				right: 0;
				border: #ff8533 2px solid;
				outline: none;
				background: #FFF;
				
				width: 100%;
				height: 50px;
				margin: 0;
				z-index: 10;
				padding: 0 65px 0 15px;
				font-family: inherit;
				font-size: 20px;
				color: #333;
				
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
				
				-webkit-appearance: none;
			}

		button.formbutton, .sb-search-submit 
		{
			width: 60px;
			height: 60px;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			padding: 0;
			margin: 0;
			text-align: center;
			cursor: pointer;
		}

			.sb-search-submit
			{
				background: #FFF; /* IE needs this */
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
				filter: alpha(opacity=0); /* IE 5-7 */
				opacity: 0;
				color: transparent;
				border: none;
				outline: none;
				z-index: -1;
			}
			
			button.formbutton
			{
				color: #FFF;
				background: #ff8533;
				z-index: 90;
				border: 0;
				height: 50px;
			}
			
			button.formbutton span
			{
				font-size: 19px;
			}
			
				button.formbutton:hover
				{
					background: #ff6700;
				}  
  
  .status
{
    position: relative;
    width: 100%;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    text-align: center;
}